.infoBox{
    color:  #0B90AC;
    -webkit-box-shadow: 0px 5px 22px -1px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 5px 22px -1px rgba(0,0,0,0.55);
    box-shadow: 0px 5px 22px -1px rgba(0,0,0,0.3);
    border-radius: 3vh;
    padding: 1vw;
    background-color: white;
}

.infoTXT{
    font-size: 4.5vw;
}
.childName{
    font-size: 5.5vw;
    width: 50vw;
    margin: auto;
    border-top: 0.3vh white solid;
    padding-bottom: 1vh;
    padding-top: 1vh;
}
.subTitle{
    background-color: #00aebe;
    color: white;
}

