.crembo-font {
    font-family: 'Alef', sans-serif;
    text-align: center;

}

.primary {
    background-color: #00acc1;
}

.secondary{
    background-color: #ffb300;
    color: white;
    border-color:#e6a40d;
}

.nav-linker {
    text-align: right;
    font-family: 'Amatic SC', cursive;
    font-size: 36px;
}

.navbar-brand {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

body {
    padding-top: 5rem;
    /* background-position: 100% 100%;
    background-size: cover; */
  }

.font-responsive {
    font-size: 5.5vw;
}
.bold{
    font-weight: bold
}
