

.newPadding{
    margin: auto;
    padding: 4% 2%;  
}
.childrenCard{
    color: black;
    -webkit-box-shadow: 0px 5px 22px -1px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 5px 22px -1px rgba(0,0,0,0.55);
    box-shadow: 0px 5px 22px -1px rgba(0,0,0,0.3);
    border-radius: 3vh;
    margin: 3% 4%;

}
.thumbnailIMG{
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
}
.dropdownsButtons{
    background: none;
    border: none;
    padding: 0;
    outline: inherit !important;
}

.requestsDropdown{
    min-width: 15rem;
}
.title{
    margin-top: 0vh;
    background-color: #00acc1;
    color: white;
    font-size: 4vh;
}

.timein{    
    background-color: #00acc1;
    color: white;
    width: 125px !important;
    margin: 0 !important;
    font-size: 3vh !important;
    
}
.unpadding{
    margin-top: 0vh;
}
.timeout{
    border-top: 1px solid white;
    display: inline-block;
    margin-top: 2vh;
    font-size: 3vh;
}
.driveri{
    font-size: 3vh;
    padding-bottom: 12px;
 
}
.staffCard{
    width: 90vw !important;
    color:#00acc1;
    border-radius: 15px !important;
    font-size: 4vh;
    padding-top: 2.5vh!important;
    padding-bottom: 2.5vh!important;
    margin-top: 2vh!important;
}
.driverCard{
    margin-top: 2vh;
    width: 90vw !important;
    color:rgb(110, 132, 145);
    border-radius: 15px !important;
}
.name{
    font-size: 3vh;
}
.cardTittle{
    font-weight: bold;
    font-size: 4vh;
}
