

 .loginPage{
    padding-top: 0 !important;
    margin: 0 !important;
    background-image: url("./../img/vangoh.jpg");
    background-attachment: fixed;
    text-align:center;

}
.loginBox{
    display:inline-block;
    width:50%;
    border:1px solid #8d8d8d;
    border-radius:5px;
    margin-top:14%;
    text-align:center;
    padding:5% 10%;
    background-color: whitesmoke;
    margin-bottom: 20%;

}

form>.frow{
    margin-top:30px;
}

button{
    display:inline-block;
    
}
input{display:inline-block;
    padding:4px;
    border-bottom:1px solid grey;
    border-top:0;
    border-right:0;
    border-left:0;
    width:80%;
    font-size:1.2em;
}
/* 
body {
    background-image: url("./../img/vangoh.jpg");

} */
img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
}
  

.logintitle{
 text-shadow: 0 0 1px #000000, 0 0 2px #000000;
 font-family: 'Rubik', sans-serif;
    
}
.user_card {
    height: 400px;
    width: 600px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    
    margin-top:15%;

}
.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
}
.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.form_container {
    margin-top: 20px;
}
.login_btn {
    width: 100%;
    background: #30326b !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #e9b115 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #e9b115 !important;
}
